.dialog-title {
  display: flex;
  justify-content: space-between;
}

.drop-area {
  box-sizing: border-box;
  text-align: center;
  min-height: 12em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px #aaa dashed;
  color: #aaa;
}

.drop-area-text {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.5em;
}

.drop-area--dragging {
  border: 5px #666 dashed;
  color: #666;
}

.error {
  color: red;
  margin-top: 1em;
}

.upload-progress {
  padding: 3em 2em;
}

.upload-report {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
.upload-report-icon {
  font-size: 8rem;
  width: 8rem;
}

.upload-report-icon-error {
  color: red;
}

.upload-report-icon-success {
  color: green;
}
